html {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #EAE7DC;
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: 1fr 4fr;
  min-height: 100%;
}

nav {
  display: flex;
  justify-content: center;
  gap: 100px;
}

button {
  width: 100px;
  height: 40px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: #EAE7DC;
}

button:hover {
  background-color: #eeece8;
  cursor: pointer;
}


#content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-self: center;
  margin-bottom: 150px;
}

.material-icons {
  font-size: 250px;
  color: black;
}

#text-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#name {
  font-size: 5em;
  line-height: 0.9;
}


